.content-modal{position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.9); top: 0; left: 0; z-index: 9998; display: none;}
.box-modal{
  max-width: 550px;
  width: 90%; 
  position: relative; 
  margin: auto;
  padding: 0;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
}

.box-text{padding: 0 15px;}
.box-modal h3{font-size: 1.4rem; color: #333; text-align: left; font-weight: 700; text-transform: uppercase;}
.box-modal p{font-size: 1rem; color: #333; text-align: left; font-weight: 300; margin-bottom: 30px;}
.box-modal a{font-size: 0.83rem; }

/* ==== bt close da modal */
.modal-close{
  overflow: none;
  position: relative;
  padding: 2px 8px;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  float: right;
  top: -62px;
  right: 0;  
  cursor: pointer;
  z-index: 9999;  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.modal-close:hover{background: #d12121; color: #fff;}

.box-modal img {width: 100%; object-fit: cover;}

@media(max-width: 1050px){
  .box-text{padding: 20px 10px;}
  .box-modal img {height: 160px;}
  .modal-close{top: -170px; background: rgba(252, 79, 79, 0.7);}
}